.heroimage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-image: url(../../images/Backgroundpicture.png);
}


.heroimage:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}


.navbar {
    position: fixed;
    top: 13px;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 1;
}

.desc_wrap {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
}

.desc_title {
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.desc {
    display: flex;
    width: 540px;
    height: 124px;
    font-size: 24px;
    color: #FFFFFF;
    align-items: center;
}

.desc_main {
    width: 444px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
    text-transform: uppercase;
}

.btn:hover{
    cursor: pointer;
}