.logo_block {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.title {
    display: block;
    width: 136px;
    height: 22px;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 9px;
}

.navbar_menu_block {
    width: 485px;
    width: 485px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    background: none;
    font-size: 14px;
    color: #FFFFFF;
}

.btn:hover{
    cursor: pointer;
}

.navbar_menu_block:hover {
    cursor: pointer;
}

.navbar_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}